*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    color: rgba(0,0,0,.7);
}

/* Nav Bar Styling */
nav{
    display: inline-flex;
    width: 100%;
}

div.left{
    display: inline-flex;
    margin: 16px 0 16px 24px;
    font-size: 32px;
    width: 50%;
    font-weight: 400;
}

div.right{
    display: inline-flex;
    width: 50%;
    font-size: 18px;
    margin: 16px 24px 16px auto;
}

h3.right{
    margin-left: 16px;
    font-weight: 100;
}

h3.right#first{
    margin-left: auto;
}

h3.left#colmar{
    color: rgba(50,50,50,1);
}

h3.left{
    color: rgba(200,200,200,1);
}


/* Article One Styling */
article.gray{
    background-color: rgba(200,200,200,1);
}

article.one{
    display: inline-flex;
    width: 100%;
}

article.one .image{
    width: 60%;
    margin: 32px 24px;
}

.image img{
    width: 100%;
}

article .text{
    width: 40%;
    justify-content: center;
    margin: auto 2%;
}

article.one h1{
    font-size: 48px;
    font-weight: bold;
}

article.one h2{
    font-size: 32px;
    font-weight: normal;
}

article.one button.one{
    width: 80%;
    padding: 8px 0;
    margin-top: 32px;
    font-size: 16px;
    background-color: rgba(100,100,100,1);
    color: rgba(256,256,256,.95);
}

/* Article Two Styling */
article.white{
    width: 100%;
    display: inline-flex;
}

article.two div.left{
    width: 60%;
    display: inline-flex;
    flex-flow: wrap;
    margin: 32px 24px;
}

article.two .left img{
    width: 100%;
    margin-bottom: 32px;
}

article.two h1{
    width: 100%;
    padding-bottom: 24px;
}

article.two p{
    width: 100%;
    font-size: 20px;
    padding-bottom: 32px;
}

article.two p.from{
    font-size: 16px;
}

article.two div.right{
    width: 40%;
    display: inline-flex;
    flex-flow: wrap;
    margin-left: 40px;
    margin-bottom: 32px;
    margin-top: 0;
}

article.two .right .article{
    display: inline-flex;
    width: 100%;
    height: auto;
    padding: 16px 0;
    border: solid rgba(180,180,180,.3) 1px;
    border-right: none;
    border-top: none;
}

article.two .right .article img{
    width: 35%;
    height: auto;
    padding: 16px;
}

article.two .right .headline{
    width: 65%;
    margin: auto 0;
    padding-bottom: 8px;
}

article.two .right .headline h3{
    font-size: 24px;
    font-weight: 500;
}

article.two .right .headline p{
    font-size: 18px;
    font-weight: 100;
}

article.two .right .headline a{
    font-size: 18px;
    color: rgba(0,150,200,1);
    text-decoration: none;
}

article.two .right .guest{
    background-color: rgba(200,200,200,1);
}

/* Styling Article 3 */
article.three{
    width: 100%;
    padding: 32px 56px;
    background-color: rgba(230,230,230,1);
}

article.three .title{
    text-align: center;
    font-size: 48px;
}

article.three .panels{
    display: inline-flex;
    flex-flow: wrap;
}

article.three .panels img{
    height: auto;
    width: 30%;
    padding: 32px 16px;
    padding-bottom: 0;
}

article.three .panels .description{
    margin: 0 16px;
    width: 30%;
    background-color: rgba(256,256,256,1);
}

article.three .panels .description h3{
    margin: 16px;
}
article.three .panels .description p{
    margin: 4px 16px;
    padding-bottom: 20px;
}

/* Styling Article Four */
article.four{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    border-bottom: solid rgba(180,180,180,.55) 1px;
}

article.four .title{
    text-align: center;
    font-size: 48px;
    width: 100%;
    margin: 32px auto;
    padding-bottom: 0;
}

article.four .exhibit{
    display: inline-flex;
}

article.four .left{
    width: 60%;
    display: flex;
    flex-flow: wrap;
    margin: auto 24px;
}

article.four .left video{
    width: 100%;
    margin-bottom: 32px;
}

article.four h1{
    width: 100%;
    padding-bottom: 24px;
}

article.four p{
    width: 100%;
    font-size: 20px;
    padding-bottom: 32px;
}

article.four div.right{
    width: 40%;
    height: 67%;
    display: inline-flex;
    flex-flow: wrap;
    margin-bottom: 32px;
    margin-top: 0;
}

article.four .right .article{
    display: inline-flex;
    width: 100%;
    height: auto;
    padding: 16px 0;
}

article.four .right .article img{
    width: 35%;
    height: auto;
    padding: 16px;
}

article.four .right .headline{
    width: 65%;
    margin: auto 0;
    padding-bottom: 8px;
}

article.four .right .headline h3{
    font-size: 24px;
    font-weight: 500;
}

article.four .right .headline p{
    font-size: 18px;
    font-weight: 100;
}

article.four .right .fisma{
    background-color: rgba(200,200,200,1);
}

/* Styling Footer */
footer{
    padding: 16px 24px 32px 24px;
    width: 97%;
    display: inline-flex;
    justify-content: space-between;
    color: rgba(180,180,180,1);
}