*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    color: rgba(0,0,0,.7);
}

/* Nav Bar Styling */
nav{
    display: inline-flex;
    width: 100%;
}

div.left{
    display: inline-flex;
    margin: 16px 0 16px 24px;
    font-size: 32px;
    width: 50%;
    font-weight: 400;
}

div.right{
    display: inline-flex;
    width: 50%;
    font-size: 18px;
    margin: 16px 24px 16px auto;
}

h3.right{
    margin-left: 16px;
    font-weight: 100;
}

h3.right#first{
    margin-left: auto;
}

h3.left#colmar{
    color: rgba(50,50,50,1);
}

h3.left{
    color: rgba(200,200,200,1);
}


/* Article One Styling */
article.gray{
    background-color: rgba(200,200,200,1);
}

article.one{
    display: inline-flex;
    width: 100%;
}

article.one .image{
    width: 60%;
    margin: 32px 24px;
}

.image img{
    width: 100%;
}

article .text{
    width: 40%;
    justify-content: center;
    margin: auto 2%;
}

article.one h1{
    font-size: 48px;
    font-weight: bold;
}

article.one h2{
    font-size: 32px;
    font-weight: normal;
}

article.one button.one{
    width: 80%;
    padding: 8px 0;
    margin-top: 32px;
    font-size: 16px;
    background-color: rgba(100,100,100,1);
    color: rgba(256,256,256,.95);
}

/* Article Two Styling */
article.white{
    width: 100%;
    display: inline-flex;
}

article.two div.left{
    width: 60%;
    display: inline-flex;
    flex-flow: wrap;
    margin: 32px 24px;
}

article.two .left img{
    width: 100%;
    margin-bottom: 32px;
}

article.two h1{
    width: 100%;
    padding-bottom: 24px;
}

article.two p{
    width: 100%;
    font-size: 20px;
    padding-bottom: 32px;
}

article.two p.from{
    font-size: 16px;
}

article.two div.right{
    width: 40%;
    display: inline-flex;
    flex-flow: wrap;
    margin-left: 40px;
    margin-bottom: 32px;
    margin-top: 0;
}

article.two .right .article{
    display: inline-flex;
    width: 100%;
    height: auto;
    padding: 16px 0;
    border: solid rgba(180,180,180,.3) 1px;
    border-right: none;
    border-top: none;
}

article.two .right .article img{
    width: 35%;
    height: auto;
    padding: 16px;
}

article.two .right .article h3{
    width: 65%;
    margin: auto 0;
}

article.two .right .guest{
    background-color: rgba(200,200,200,1);
}

/*
article.two .right img{
    width: 35%;
    height: auto;
    padding: 16px;
    padding-right: 0;
}
*/

/*
article.two .right h3.headline{
    width: auto;
    margin: auto 0;
    padding: inherit;
}

article.two .right #guest{
    background-color: rgba(0,0,0,.2);
}

article.two div.right .guest{
    background-color: rgba(0,100,0,.2);
    margin: auto 65% auto 0;
    padding: 0 65% 0 0;
}
*/