*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

/* Nav Bar Styling */
nav{
    display: inline-flex;
    width: 100%;
}

div.left{
    display: inline-flex;
    margin: 16px 0 16px 24px;
    font-size: 32px;
    width: 50%;
    font-weight: 400;
}

div.right{
    display: inline-flex;
    width: 50%;
    font-size: 18px;
    margin: 16px 24px 16px auto;
}

h3.right{
    margin-left: 16px;
    font-weight: 100;
}

h3.right#first{
    margin-left: auto;
}

h3.left#colmar{
    color: rgba(0,0,0,.95);
}

h3.left{
    color: rgba(0,0,0,.35);
}


/* Article One Styling */
article.gray{
    background-color: rgba(0,0,0,.2);
}

article.one{
    display: inline-flex;
    width: 100%;
}

article.one img{
    width: 60%;
    padding: 32px 24px;
}

article.one .text{
    width: 40%;
    justify-content: center;
    margin: auto 2%;
    color: rgba(0,0,0,.6);
}

article.one h1{
    font-size: 48px;
    font-weight: bold;
}

article.one h2{
    font-size: 32px;
    font-weight: normal;
}

article.one button.one{
    width: 80%;
    padding: 8px 0;
    margin-top: 32px;
    font-size: 16px;
    background-color: rgba(0,0,0,.6);
    color: rgba(256,256,256,.95);
}
